body {
    background-color: #FDFBD4;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #f5f5f5;
    height: 250px;
}

header img {
    position: relative;
    top: 35px;
}

header h1 {
    position: relative;
    top: 40px;
}

img:not(header img) {
    position: relative;
    left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.2s;
    margin: 20px;
    position: relative;
    left: 20px;
}

img:not(header img):hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.logo-link {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    opacity: 0.85;
}

.logo:hover {
    opacity: 1;
}