body {
    background-color: #FDFBD4;
}

header {
    text-align: center;
    background-color: rgb(174, 200, 200);
}

.logo-link {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    opacity: 0.85;
}

.logo:hover {
    opacity: 1;
}